.cardLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 48px;
  padding: 48px 62px 0 62px;
  justify-items: center;
  text-align: center;
}

.error_message{
  padding: 96px 24px;
  font-size: 18px;
  font-weight: 400;
  color: #FF0000;
  margin: 0 auto;
  padding-top: 96px;
}

.loading_message{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0 auto;
  padding-top: 96px;
  
}

.fetching_message{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 31px;
}
